#mid_about_container {
  width: 100vw;
  height: 85vh;
  /*background-color: rgb(180, 21, 17);*/
  background-color: #fff;
  border-bottom: 5px #000 solid;
  margin: -3vh 0 0 0;
  padding: 0;
  /*border-top: 5px blue solid;*/
}
@media (min-device-width: 1024px) {
  #mid_about_container {
    width: 100%;
    height: 85vh;
  }
}

.about_heading {
  width: 100vw;
  height: 7%;
  font-style: italic;
  color: rgb(180, 21, 17);
  font-weight: bolder;
  text-align: center;
  margin: 0 0 20px -10%;
  padding: 0;
}
@media (min-device-width: 1024px)  {
  .about_heading {
    height: 20%;
    margin: 0;
  }
}

.about_heading h3 {
  font-size: 170%;
  padding: 3% 0 0 0;
  margin: 19px 0 0 0;
}
@media (min-device-width: 1024px) {
  .about_heading h3 {
    /*padding: 5vh 0 0 0;
    margin: 3vh 0 0 0;*/
  }
}

.about_body {
  width: 80vw;
  height: 89%;
  /*border: 5px yellow solid;*/
  margin: -3vh 0 0 0;
}
@media (min-device-width: 1024px) {
  .about_body {
    width: 100%;
    height: 74%;
  }
}

.about_image {
  width: 25vw;
  height: 15vh;
  float: right;
  background-image: url('http://toldplumbing.com/images/header.jpg');
  background-size: cover;
  /*border: 5px green solid;*/
  margin: 2vh 7vw 15px 1vw;
}
@media (min-device-width: 1024px) {
  .about_image {
    width: 35vw;
    height: 40vh;
  }
}

.about_text {
  width: 100%;
  height: 55vh;
  margin: 0 0 0 2vw;
  font-size: 70%;
  /*float: left;*/
  /*border: 5px blue solid;*/
}
@media (min-device-width: 1024px) {
  .about_text {
    font-size: 100%;
  }
}

.about_link {
  width: 100vw;
  height: 5vh;
  /*border: 5px solid purple;*/
  text-align: center;
  margin: 0 0 0 -10%;
}
@media (min-device-width: 1024px)  {
  .about_link {
    margin: 0;
  }
}

.about_link a{
  font-size: 90%;
  color: rgb(82, 177, 145);
  margin: 0.5vh 10px 0 0;
}
@media (min-device-width: 1024px) {
  .about_link a {
    font-size: 120%;
    margin: 1vh 1vw 0 0;
  }
}
.about_link a:hover {
  color: rgb(180, 11, 17);
  font-stretch: ultra-expanded;
}

/*a .toldPlumbing:hover {
  font-size: 130%;
  color: red;
}
a .toldPlumbingFacebook:hover {
  font-size: 160%;
  color: red;
}*/
