<div class="login-container">
  <!-- <div class="login-img"> -->
  <h1>Log-in to the Admin for Told Handyman</h1>
  <br>
  <form [formGroup]="loginUserForm" (ngSubmit)="login()" id='logUser'>
    <div class="login-area">
      <input type="text" class="form-control" formControlName="loginEmail" placeholder="email" required="required">
      <input type="password" class="form-control" formControlName="loginPassword" placeholder="password" required="required">
      <button type="submit" name="submit" [disabled]="!loginUserForm.valid">Login</button>
  </div>
  </form>
  <a routerLink="/ToldHandyman" routerLinkActive="active">Click for Told Handyman</a>
  <br>
    <a routerLink="/RealAdminHandyman" routerLinkActive="active">Click for Admin Handyman</a>
  <!-- <div class="login-area">
    <input type="text" ng-model="credentials.email" placeholder="email">
    <input type="password" ng-model="credentials.password" placeholder="password">
    <button type="button" ng-click="login()">Login</button>
</div> -->
  <br>
  <div class="register-area">
    <h4>Haven't registered yet? Then click below to register!</h4>
    <br>
    <a ui-sref="register"><button type="button" name="registerButton">Register Here</button></a>
  </div>
<!-- </div> -->

<!-- <form [formGroup]="logUser" (ngSubmit)="login()" id='logUser'>
  <div class="login-area">
    <input type="text" class="form-control" formControlName="loginEmail" placeholder="email" required="required">
    <input type="password" class="form-control" formControlName="loginPassword" placeholder="password" required="required">
    <button type="submit" name="submit" [disabled]="!logUser.valid">Login</button>
</div>
</form> -->

</div>
