<div id="handyman_container">

  <div class="top_menu_container">
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu" id="btn-menu-label" onclick><img src="./images/circle-ham-menu.png" alt=""></label>
    <nav class="desktop_menu">
      <a class="link_home" pageScroll href="#handyman_container">HOME</a>
      <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
      <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
      <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
    </nav>
    <nav class="mobile_menu">
      <a class="link_home" pageScroll href="#handyman_container">HOME</a>
      <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
      <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
      <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
    </nav>
    <span class="top_menu_logo">
      TOLD HANDYMAN
    </span>
  </div>
  <div class="top_title_container">
    <h2 id="title_handyman">TOLD <br> HANDYMAN SERVICE</h2>
    <h4 id="title_slogan">"Fast friendly service with a name you can trust"</h4>
  </div>
  <div class="top_gallery_container">
    <!-- Gallery info
    Go to this website for a bootstrap gallery:
    http://www.angulartypescript.com/angular-2-carousel/
    <a href="http://www.angulartypescript.com/angular-2-carousel/">Click here to go there now!</a> -->
    <!-- <carousel-gallery></carousel-gallery> -->
    <div class="swiper-wrapper">
      <swiper [config]="config">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide1">Slide 1</div>
          <div class="swiper-slide slide2">Slide 2</div>
          <div class="swiper-slide slide3">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
          <div class="swiper-slide">Slide 10</div>
        </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </swiper>
  </div>
  <!-- <div class="gallery_description">
    Description of each slide here.
  </div> -->
</div>
  <div id="mid_services_container">
    <!-- <div class="services_heading_container">
      <h2>HANDYMAN SERVICES</h2>
      <p>Licensed and Insured * Free Estimates * Don't Hide from your fix-it list</p>
    </div> -->
    <div class="grid-container outline">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-1"><h2>HANDYMAN SERVICES</h2></div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-2"><p>Free Estimates</p></div>
        <div class="col-2"><p>Finish Your Fix-it List</p></div>
        <div class="col-2"><p>Licensed and Insured</p></div>
    </div>
    <div class="row">
        <div class="col-3"><p></p></div>
        <div class="col-3"><p></p></div>
    </div>
    <div class="row services_row">
        <div class="col-4" id="services">
          <div class="row">
            <div class="col-4 services_title"><h5>REMODELS</h5>
              <div class="row">
                <div class="col-4">
                  <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                    that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
                </div>
                <!-- <div class="col-4"><p>col-4.2</p></div> -->
          </div></div>
            <div class="col-4.1 remodels_image"><p>Remodels picture</p></div>
        </div></div>
        <!-- <div class="col-4"><p>col-4</p></div> -->
        <div class="col-4" id="services">
          <div class="row">
            <div class="col-4 services_title"><h5>Home Repairs</h5>
              <div class="row">
                <div class="col-4">
                  <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                    that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
                </div>
                <!-- <div class="col-4"><p>col-4.2</p></div> -->
          </div></div>
            <div class="col-4.1 homeRepairs_image"><p>Home Repairs picture</p></div>
        </div></div>
    </div>
    <div class="row services_row">
        <div class="col-4" id="services">
          <div class="row">
            <div class="col-4 services_title"><h5>Kitchens & Bathrooms</h5>
              <div class="row">
                <div class="col-4">
                  <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                    that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
                </div>
                <!-- <div class="col-4"><p>col-4.2</p></div> -->
          </div></div>
            <div class="col-4.1 kitchenBath_image"><p>Kitchen & Bathrooms picture</p></div>
        </div></div>
        <!-- <div class="col-4"><p>col-4</p></div> -->
        <div class="col-4" id="services">
          <div class="row">
            <div class="col-4 services_title"><h5>Drywall Repair</h5>
              <div class="row">
                <div class="col-4">
                  <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                    that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
                </div>
                <!-- <div class="col-4"><p>col-4.2</p></div> -->
          </div></div>
            <div class="col-4.1 drywall_image"><p>Drywall Repair picture</p></div>
        </div></div>
    </div>
    <div class="row services_row">
        <div class="col-4" id="services">
          <div class="row">
            <div class="col-4 services_title"><h5>Custom Doors</h5>
              <div class="row">
                <div class="col-4">
                  <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                    that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
                </div>
                <!-- <div class="col-4"><p>col-4.2</p></div> -->
          </div></div>
            <div class="col-4.1 customDoors_image"><p>Custom Doors picture</p></div>
        </div></div>
        <!-- <div class="col-4"><p>col-4</p></div> -->
        <div class="col-4" id="services">
          <div class="row">
            <div class="col-4 services_title"><h5>Painting</h5>
              <div class="row">
                <div class="col-4">
                  <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
                    that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
                </div>
                <!-- <div class="col-4"><p>col-4.2</p></div> -->
          </div></div>
            <div class="col-4.1 painting_image"><p>painting picture</p></div>
        </div></div>
    </div>
</div>
<div class="rowModal">
    <button (click)="myModal.open()" class="modalButton">open my modal</button>
    <modal #myModal class="modal_box">
        <modal-header class="modal_header">
            <h1>Modal header</h1>
        </modal-header>
        <modal-content>
            Hello Modal!
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="myModal.close()">close</button>
        </modal-footer>
    </modal>
</div>
  </div>
  <div id="mid_about_container">
    <div class="about_heading">
      <h3>WHO WE ARE:</h3>
    </div>
    <div class="about_body">
    <div class="about_image"></div>
      <div class="about_text">
        <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
          that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
        <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
          that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
        <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
          that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
        <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
          that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>
        <p>A handyman is a person who is very good with their hands. Their job description covers a variety of duties
          that involve fixing and repairing of things both indoor and outdoor in their organizations to make them look good.</p>

      </div>
    </div>
    <div class="about_link">
      <a href="http://toldplumbing.com/">Told Plumbing</a>
    <a class="link_home" pageScroll href="#handyman_container">Told Plumbing Facebook</a>
    </div>
  </div>
  <div class="mid_reviews_container">
    <div class="reviews_heading">
      <h3>Customer Reviews</h3>
    </div>
    <div class="reviews_body">
      <div class="reviews_wrapper">
        <h1 class="reviews_title">The Handyman Life</h1>
        <div class="job">doors</div>
        <div class="work_type">build doors</div>
        <div class="job">stairs</div>
        <div class="work_type">build stairs that work</div>
        <div class="job">decking</div>
        <div class="work_type">custom decks, right for every job</div>
        <div class="job">remodel bathroom</div>
        <div class="work_type">custom bathroom anywhere, cabin, master, etc.</div>
        <div class="job">remodel kitchen</div>
        <div class="work_type">time for that rustic italian kitchen</div>
        <div class="job">windows</div>
        <div class="work_type">want them bigger? we can do that</div>
        <div class="job">garage</div>
        <div class="work_type">dream garage fit for an italian classic</div>
        <div class="job">house remodel</div>
        <div class="work_type">want to update your look? best looking house in town!</div>
      </div>
    </div>
  </div>
  <div id="bottom_contact_container">
    Contact info
  </div>
  <div class="bottom_footer_container">
    Footer info
  </div>

</div>
