<div id="handyman_container">

  <div class="top_menu_container">
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu" id="btn-menu-label"><img src="./images/circle-ham-menu.png" alt=""></label>
    <nav class="desktop_menu">
      <a class="link_home" pageScroll href="#handyman_container">HOME</a>
      <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
      <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
      <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
    </nav>
    <nav class="mobile_menu">
      <a class="link_home" pageScroll href="#handyman_container">HOME</a>
      <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
      <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
      <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
    </nav>
    <span class="top_menu_logo">
      TOLD HANDYMAN
    </span>
  </div>
  <div class="top_title_container">
    <h1 id="title_handyman">TOLD <br> HANDYMAN SERVICE</h1>
    <h4 id="title_slogan">"Fast friendly service with a name you can trust"</h4>
  </div>
  <div class="top_gallery_container">
    Gallery info
    Go to this website for a bootstrap gallery:
    http://www.angulartypescript.com/angular-2-carousel/
    <a href="http://www.angulartypescript.com/angular-2-carousel/">Click here to go there now!</a>
    <!-- <carousel-gallery></carousel-gallery> -->
  </div>
  <div id="mid_services_container">
    Services info
  </div>
  <div id="mid_about_container">
    About info
  </div>
  <div class="mid_reviews_container">
    Reviews info
  </div>
  <div id="bottom_contact_container">
    Contact info
  </div>
  <div class="bottom_footer_container">
    Footer info
  </div>

</div>
