<div id="handyman_container">

    <div class="top_menu_container">
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu" id="btn-menu-label" onclick><img src="./images/circle-ham-menu.png" alt=""></label>
        <nav class="desktop_menu">
            <a class="link_home" pageScroll href="#handyman_container">HOME</a>
            <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
            <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
            <a class="link_reviews" pageScroll href="#mid_reviews_container">REVIEWS</a>
            <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
        </nav>
        <nav class="mobile_menu">
            <a class="link_home" pageScroll href="#handyman_container">HOME</a>
            <a class="link_services" pageScroll href="#mid_services_container">SERVICES</a>
            <a class="link_about" pageScroll href="#mid_about_container">ABOUT</a>
            <a class="link_reviews" pageScroll href="#mid_reviews_container">REVIEWS</a>
            <a class="link_contact" pageScroll href="#bottom_contact_container">CONTACT US</a>
        </nav>
        <span class="top_menu_logo">
      <h4>TOLD HANDYMAN</h4>
    </span>
    </div>
    <div class="top_title_container">
        <div id="title_handyman"></div>
        <h4 id="title_slogan">"Fast friendly service with a name you can trust"</h4>
    </div>
    <div class="top_gallery_container">

        <div class="swiper-wrapper">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <img class="swiper-slide" *ngFor="let gallery of gallerys" src="../server/uploads/{{gallery.galleryImage}}">
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </swiper>
        </div>
    </div>
    <!-- End of top_gallery_container -->
    <div class="callUs" [class.fixedsticky]="callHandyman">
        <div class="callUs_box"><a href="tel:+18017851889"><strong>CLICK<br> TO <br> CALL <br> US <br> HERE</strong></a></div>
    </div>
    <!-- Services container breaks at 1355px -->
    <div id="mid_services_container">
        <div class="grid-container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"><strong><h1>HANDYMAN SERVICES</h1></strong></div>
                <div class="col-1"></div>
            </div>
            <div class="row row-2">
                <div class="col-2">
                    <p>Free Estimates</p>
                </div>
                <div class="col-2">
                    <p>Finish Your Fix-it List</p>
                </div>
                <div class="col-2">
                    <p>Licensed and Insured</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p></p>
                </div>
                <div class="col-3">
                    <p></p>
                </div>
            </div>
            <div class="service_box_container">
              <div class="service_box" *ngFor="let service of services">
                  <div class="service_title">
                      <h4>{{service.serviceName}}</h4>
                  </div>
                  <div class="service_title_mobile">
                      <h4>{{service.serviceName}}</h4>
                  </div>
                  <div class="service_body">

                      <div class="service_image">
                          <a class="zoom" (click)="myModal.open()">
                              <img id="imageService" class="img-thumbnail" src="../server/uploads/{{service.serviceImage}}">
                          </a>
                          <modal #myModal class="modal_box service_image_Modal">
                              <modal-content>
                                  <img id="modalImage" class="img-resized" src="../server/uploads/{{service.serviceImage}}">
                              </modal-content>
                          </modal>
                      </div>
                      <div class="service_text">{{service.serviceDescription}}</div>
                  </div>
              </div>
            </div>
        </div>
        <!--This ends the class grid-container -->
        <div class="rowModal">
            <button (click)="myListModal.open()" class="modalButton btn service_list_btn"><p>Full List of Services</p></button>
            <modal #myListModal class="modal_box">
                <modal-header class="modal_header">
                    <h1>Told Handyman Service List</h1>
                </modal-header>
                <modal-content>
                    <tbody>
                        <tr *ngFor="let serviceList of serviceLists">
                            <td>
                                <li>{{serviceList.serviceListName}}</li>
                            </td>
                        </tr>
                    </tbody>
                </modal-content>
                <modal-footer>
                    <button class="btn btn-primary" (click)="myListModal.close()">close</button>
                </modal-footer>
            </modal>
        </div>
    </div>
    <!-- End of mid_services_container -->
    <div id="mid_about_container">
        <div class="about_heading">
            <h3>ABOUT US</h3>
        </div>
        <div class="about_body">
            <div class="about_image"></div>
            <div class="about_text">
                <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                    comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
                <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                    comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
                <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                    comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
                <p>Told Plumbing is a family owned business, founded and operated by David and Belinda Told. David and Belinda are 4th generation Pleasant Grove residents. David was raised on the family farm that remains in operation today. Belinda's family
                    comes from a long line of successful business owners. David began plumbing in 1980 and has worked all along the Wasatch Front. David and Belinda attribute their success to quality employees and hard work.</p>
            </div>
        </div>
        <div class="about_link">
            <a class="toldPlumbing" href="http://toldplumbing.com/">Told Plumbing</a>
            <a class="toldPlumbingFacebook" href="https://www.facebook.com/Told-Plumbing-355154127293/">Told Plumbing Facebook</a>
        </div>
    </div>
    <!-- End of mid_about_container -->
    <div id="mid_reviews_container">
        <div class="reviews_heading">
            <h2 id="reviews_heading_text">Customer Reviews</h2>
        </div>
        <ul class="tabs" role="tablist">
            <li>
                <input type="radio" name="tabs" id="tab1" checked />
                <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0"><h4>Scrolling</h4></label>
                <div class="tab-content" id="tab-content1" role="tabpanel" aria-labelledby="Movie Credit Reviews" aria-hidden="false">
                    <div class="reviews_credits_container">
                        <div class="reviews_wrapper" *ngFor="let review of reviews">
                            <div class="review_author">
                                <h4>{{review.reviewAuthor}}<p>{{review.reviewLocation}}</p></h4><img class="review_image" *ngIf="review.reviewImage" src="../server/uploads/{{review.reviewImage}}"></div>
                            <div class="work_review">{{review.reviewMessage}}</div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <input type="radio" name="tabs" id="tab2" />
                <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0"><h4 id="tab-content2-name">Normal View</h4></label>
                <div class="tab-content" id="tab-content2" role="tabpanel" aria-labelledby="normal reviews" aria-hidden="true">
                    <div class="reviews_normal_container">
                        <div class="reviews_normal_wrapper" *ngFor="let review of reviews">
                            <div class="review_author">
                                <h4>{{review.reviewAuthor}}<p>{{review.reviewLocation}}</p></h4><img class="review_image" *ngIf="review.reviewImage" src="../server/uploads/{{review.reviewImage}}"></div>
                            <div class="work_review">{{review.reviewMessage}}</div>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End of mid_reviews_container -->
    <div id="bottom_contact_container">

      <!-- <div class="myModal_button"> -->
        <button class="modalButton btn myModal_button" (click)="openMyModal('custom-modal-1')">CLICK TO CONTACT US</button>
      <!-- </div> -->
      <myModal id="custom-modal-1">
    <div class="myModal">
        <div class="myModal-body">
            <h1>We Want To Hear From You</h1>
            <form [formGroup]="addContactForm" (ngSubmit)="createContactForm()" id='contact-form'>
                <div>
                    <label for="name">
       <span class="required">Name: *</span>
       <input class="form-control" formControlName="contactName" type="text" id="name" name="name" value="" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus" />
     </label>
                </div>
                <div>
                    <label for="email">
       <span class="required">Email: *</span>
       <input class="form-control" formControlName="contactEmail" type="email" id="email" name="email" value="" placeholder="Your Email" tabindex="2" required="required" />
     </label>
                </div>
                <div>
                    <label for="phone">
       <span class="required">Phone #: *</span><br>
       <div class="contactPhone_div">
         <p>(area code)  </p><input class="form-control contactPhone_input" formControlName="contactPhone1of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
         <input class="form-control contactPhone_input" formControlName="contactPhone2of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
         <input class="form-control contactPhone_input" formControlName="contactPhone3of3" type=tel name="phone" size=4 maxlength="4" required="required">
       </div>
     </label>
                </div>
                <div>
                    <label for="message">
       <span class="required">Message: *</span>
       <textarea class="form-control" formControlName="contactMessage" id="message" name="message" placeholder="Please write your message here." tabindex="6" required="required"></textarea>
     </label>
                </div>
                <div>
                    <button name="submit" type="submit" id="submit" [disabled]="!addContactForm.valid" (click)="closeMyModal('custom-modal-1')">SEND</button>
                </div>
            </form>
            <button (click)="closeMyModal('custom-modal-1')">Close</button>
        </div>
    </div>
    <div class="myModal-background"></div>
</myModal>

      <div class="contact_list">
          <div class="contact_list_box">
          <div class="told_handyman_info">
              <h3>Told Handyman</h3>
              <p><strong>(801)785-1889</strong></p>
              <p>501 S Main St</p>
              <p>Pleasant Grove, UT 84062</p>
          </div>
        </div>
        <div class="contact_list_box">
          <div class="told_plumbing_info">
              <h3>Told Plumbing</h3>
              <p><strong>(801)785-5559</strong></p>
              <p>501 S Main St</p>
              <p>Pleasant Grove, UT 84062</p>
          </div>
        </div>
      </div><br><br>

        <!-- <div class="rowModal contactForm_Box">
            <button (click)="mycontact.open()" class="modalButton btn"><p>CLICK TO CONTACT US</p></button>
            <modal #mycontact class="modal_box">
                <modal-header id="modal_header_contactForm">
                    <h1>We Want To Hear From You</h1>
                </modal-header>
                <modal-content>
                    <form [formGroup]="addContactForm" (ngSubmit)="createContactForm()" id='contact-form'>
                        <div>
                            <label for="name">
               <span class="required">Name: *</span>
               <input class="form-control" formControlName="contactName" type="text" id="name" name="name" value="" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus" />
             </label>
                        </div>
                        <div>
                            <label for="email">
               <span class="required">Email: *</span>
               <input class="form-control" formControlName="contactEmail" type="email" id="email" name="email" value="" placeholder="Your Email" tabindex="2" required="required" />
             </label>
                        </div>
                        <div>
                            <label for="phone">
               <span class="required">Phone #: *</span><br>
               <div class="contactPhone_div">
                 <p>(area code)  </p><input class="form-control contactPhone_input" formControlName="contactPhone1of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
                 <input class="form-control contactPhone_input" formControlName="contactPhone2of3" type=tel name="phone" size=3 maxlength="3" required="required"> -
                 <input class="form-control contactPhone_input" formControlName="contactPhone3of3" type=tel name="phone" size=4 maxlength="4" required="required">
               </div>
             </label>
                        </div>
                        <div>
                            <label for="message">
               <span class="required">Message: *</span>
               <textarea class="form-control" formControlName="contactMessage" id="message" name="message" placeholder="Please write your message here." tabindex="6" required="required"></textarea>
             </label>
                        </div>
                        <div>
                            <button name="submit" type="submit" id="submit" [disabled]="!addContactForm.valid" (click)="mycontact.close()">SEND</button>
                        </div>
                    </form>
                </modal-content>
                <modal-footer>
                    <button class="btn btn-primary" (click)="mycontact.close()">cancel</button>
                </modal-footer>
            </modal>
          </div> -->

    </div><!-- End of bottom_contact_container -->

    <div class="bottom_footer_container">
        <div class="copyright">
            <strong>Copyright 2008 © Told Plumbing. All rights reserved.</strong>
        </div>
    </div>
    <!-- End of bottom_footer_container -->

</div>
